#about-na
{
	margin:0px;
	height:65vh;
	background-image:url("images/image3.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	opacity:0.8;

}

#nav-header
{
	color:white;
	list-style:none;
	text-align:center;
	font-size:25px;

}

#nav-header li
{
	display:inline-block;
	margin:0px 8px 8px 0px;

}

#nav-header li a
{
	color:white;
	text-decoration:none;
}

#nav-header li a:hover
{
color:lightgrey;
border-bottom:2px solid black;
transform: color 0.5s;
}

#lip
{
	background-color: #f6f6f6;
}



#nav-nam
{
	color:white;
	font-size:60px;
	text-align:center;
	margin:0px;
	letter-spacing:2px;
}

#socio
{
	color:white;
	list-style:none;
	text-align:center;

}

#socio li
{
	display:inline-block;
	padding:10px;
	margin:5px;
}

 #socio li a i
 {
 	color:white;
 	border-radius:30px;
 	padding:10px;
 }

#socio li a i:hover
{
	color:white;
	box-shadow: 0px 0px 6px 4px lightgrey;
}

#my img
{
height:auto;
width:20%;
padding:0px;
margin-top:-100px;
border-radius:120px;
box-shadow:0px 0px 6px 4px lightgrey;
position:relative;

}

#my img
{
	margin-left: 500px;
}

#para
{
    margin-left:20px;
	font-size:25px;
	word-spacing:2px;
	letter-spacing:0.5px;
	/*width:70%;
	height:50%;
	background-color:#eeefee;
	display:flex;
	flex-direction:column;
	align-items:center;*/
	

}

#skills
{
	width:100%;
	height:70%;
	display:flex;
	flex-direction:column;

	align-items:center;
}

#skills h1
{
	font-size:35px;
	color:black;
	word-spacing:3px;


}
 

.skills-display
{
	width:1253px;
	background-color:#f2f2f2;
	height:450px;
	display:flex;
	flex-wrap:wrap;
	align-items:center;



}

#pic
{

	background-image:url("images/banner.png");
	background-repeat:no-repeat;
	/*border:2px solid black;*/
}
#skill-h
{
	height:20px;
	width:120px;
	background-color:#e5e5e5;
	border-radius:50px;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: flex-start;
	margin-left:213px;
	box-shadow:0px 0px 6px 4px #cccccc;
	/*align-items:center;*/

}

#eighty
{
	height:inherit;
	width:100px;
	background-color:red;
	border-radius:50px;
	
	
}

#stp
{
	color:white;
	margin-left:7px;
	margin-top:10px;
	font-size:18px;
	font-style:bold;
}





#skill-pp
{
	height:20px;
	width:110px;
	background-color:#e5e5e5;
	border-radius:50px;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: flex-start;
	margin-left:60px;
	box-shadow:0px 0px 6px 4px #cccccc;
	/*align-items:center;*/

}
#seventy
{
	height:inherit;
	width:90px;
	background-color:red;
	border-radius:50px;
	
	
}
#stpi
{
	color:white;
	margin-left:7px;
	margin-top:10px;
	font-size:18px;
	font-style:bold;
}







#skill-ph
{
	height:20px;
	width:120px;
	background-color:#e5e5e5;
	border-radius:50px;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: flex-start;
	margin-left:68px;
	box-shadow:0px 0px 6px 4px #cccccc;
	/*align-items:center;*/

}
#seven
{
	height:inherit;
	width:90px;
	background-color:red;
	border-radius:50px;
	
	
}
#stpiy
{
	color:white;
	margin-left:7px;
	margin-top:10px;
	font-size:18px;
	font-style:bold;
}


#skill-phh
{
	height:20px;
	width:120px;
	background-color:#e5e5e5;
	border-radius:50px;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: flex-start;
	margin-left:60px;
	box-shadow:0px 0px 6px 4px #cccccc;
	/*align-items:center;*/

}
#six
{
	height:inherit;
	width:85px;
	background-color:red;
	border-radius:50px;
	
	
}
#stpiyy
{
	color:white;
	margin-left:7px;
	margin-top:10px;
	font-size:18px;
	font-style:bold;
}





#skill-phhh
{
	height:20px;
	width:120px;
	background-color:#e5e5e5;
	border-radius:50px;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: flex-start;
	margin-left:60px;
	box-shadow:0px 0px 6px 4px #cccccc;
	/*align-items:center;*/

}
#iron
{
	height:inherit;
	width:75px;
	background-color:red;
	border-radius:50px;
	
	
}
#stpiyyy
{
	color:white;
	margin-left:7px;
	margin-top:10px;
	font-size:18px;
	font-style:bold;
}

#pizza
{
 font-size:25px;
 margin-left:95px;	
 margin-top:-3px;
}

#burger
{
font-size:25px;
margin-left:190px;	
margin-top:-3px;
}

#frie
{
font-size:15px;
margin-left:180px;
word-spacing: 1px;
font-style:bold;
margin-top:-20px;	

}

#experience h1
{
	font-size:35px;
	color:black;
	word-spacing:3px;
	align-items: center;
	margin-left:500px;

}

.timebox
{
	height:68.5%;
	width:1245px;
	border:2px solid black;
	margin-left:0px;
	background-image:linear-gradient(lightpink,lightblue);
}

#picc
{

	background-image:url("images/popp.png");
	background-repeat:no-repeat;
	/*border:2px solid black;*/
}
#timeboxline
{
	height:40%;
	width:40%;
	border:2px solid black;
		margin-top:25px;
	margin-left:40px;
	background-color:#EFD6B5;

}

#timeboxlinee
{
	height:40%;
	width:40%;
	border:2px solid black;
	background-color:#EFD6B5;
	margin-left:700px;
	margin-top:20px;
}
#timeboxlinet
{
	height:40%;
	width:40%;
	border:2px solid black;
		margin-top:25px;
	margin-left:40px;
	background-color:#DDD9D9;

}

#timeboxlineet
{
	height:40%;
	width:40%;
	border:2px solid black;
	background-color:#DDD9D9;
	margin-left:700px;
	margin-top:20px;
}

#cho
{
	margin-top:-10px;
}
#ch
{
	margin-top:-10px;
}

#education h1
{
	font-size:35px;
	color:black;
	word-spacing:3px;
	align-items: center;
	margin-left:545px;

}
#piz
{
margin-left:95px;
font-size:25px;
margin-top:50px;
text-decoration:none;
}
#ty
{
font-size:20px;
margin-left:190px;
word-spacing: 1px;
font-style:bold;
margin-top:-20px;	
}
#bu
{
margin-left:110px;
font-size:25px;
margin-top:45px;
}
.timeboxx
{
	height:380px;
	width:1245;
	border:2px solid black;
	margin-left:0px;
	background-image:linear-gradient(lightblue);
}
#fr
{

font-size:20px;
margin-left:190px;
word-spacing: 1px;
font-style:bold;
margin-top:-20px;

}

#timeboxli
{
	position:absolute;
	height:350px;
	width:0px;
	border:2px dashed red;
	margin-left:630px;
	margin-top:-345px;

}
 

 #tyu
 {
 	color:darkblue;
 	margin-left:-9px;
 	transform:rotate(90deg);
 	position:sticky;
 	margin-top:1px;
 }


 #tyuu
 {
 	color:darkblue;
 	margin-left:-9px;
 	transform:rotate(0deg);
 	position:sticky;
 	margin-top:1px;
 }

#piccc
{
	background-image:url("images/pyco.png");
	background-repeat:no-repeat;
}
.tree
{
	width:1243px;
	background-color:#f2f2f2;
	height:47.5%;
	margin-left:0px;
}

#portfolio h1
{
	font-size:35px;
	color:black;
	word-spacing:3px;
	align-items: center;
	margin-left:545px;

}




#pc
{
	width:415px;
	height:260px;
	border:2px solid black;
}

#pap{
	display:inline-block;
	width:385px;
	height:260px;
	border:2px solid black;
}

/*#apple
{
	height:100%;
	width:35%;
	background-color:red;

}

#orange
{
	height:100%;
	width:36%;
	background-color:red;
	margin-left:288.5px;
	display:inline-block;
	margin-top:-253.8px
}


#mango
{
	height:100%;
	width:34%;
	background-color:blue;
	margin-left:580px;
	display:inline-block;
	margin-top:-281px
}

#apple img
{
	width:284px;
	height:253px;
	border:2px solid black;
}


#orange img
{
	width:286px;
	height:253px;
	border:2px solid black;
}
*/














#contact h1
{
	font-size:35px;
	color:black;
	word-spacing:3px;
	align-items: center;
	margin-left:545px;

}

.kite
{
	width:1243px;
	background-color:#f2f2f2;
	height:50%;
	margin-left:0px;
	background-image:linear-gradient(to right,#2857a4,#403066);
}


.kite input
{
	margin-left:180px;
	margin:top:50px;
	border:2px solid black;
}

.kite button
{
	margin-left:190px;
	border:2px solid white;
	background-color:#2857a4;
	color:white;
	letter-spacing:2px;

}

.kite h3
{
	color:white;
	margin-left:500px;
	margin-top:-157px;
	font-size:15px;
	word-spacing:1px;
	
}

.kite p
{
	color:white;
	margin-left:500px;
	font-size:15px;
	margin-right:80px;
}


#pocket
{
	margin-top:5px;
	font-size:15px;
	margin-left:500px;
	color:white;
	word-spacing:1px;
}

#shoes
{
	word-spacing:2px;
}


#belt
{
	word-spacing:2px;
}