#div1
{
	border:2px solid black;
	height:400px;
	width:1200px;
}
#div2
{
	background-color:blue;
	height:100px;
	width:100px;

}

#div3
{
	background-color:cyan;
	height:100px;
	width:100px;
	position:fixed;
	top:20px;
	left:20px;
}


#div4
{
	background-color:orange;
	height:100px;
	width:100px;
	
}