@keyframe changeshape
{
0%
{
	transform:translateY(0px);
}
100%
{
	transform:translateY(100px);
}
}




#pix
{
	width:200px;
	height:200px;
	background-color:cyan;
	margin-top:500px;
	margin-left:50px;
	animation: changeshape 1s ease-in-out infinite alternate
}


